<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.TeacherMapper">

    <insert id="insertTeacher" parameterType="teacher" useGeneratedKeys="true">
        insert into T_TEACHER (NAME, AGE, DEGREE, DES, TITLE)
        values (#{name}, #{age}, #{degree}, #{des}, #{title})
    </insert>
</mapper>
