<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>课程详情页</title>

    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <button id="subBtn" class="btn-primary">提交</button>

</div>
<script src='/assets/jquery/jquery.js'></script>
<script src='/assets/popper/popper.js'></script>
<script src='/assets/bootstrap/js/bootstrap.js'></script>
<script type="text/javascript">
    $(function () {
        $('#subBtn').click(function () {
            var data = {userId:1,name: '宋老师',degree: '本科', introduce: '就是牛逼', title: '高级教师',proportion:0.5};
            $.post('/teacher/insert', data, function (r) {
                console.log(r)
            }, 'json');
        });
    });

</script>
</body>
</html>