<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!-- 外部样式表 -->
<link rel="stylesheet" type="text/css"  th:href="@{/module/study.css}" />

<!-- 内部样式表 -->
<style>
hr {color:#000000;}
p {margin-left:20px;}
body {
background-image:url("/images/timg.jpg");
/* background-repeat:repeat-x; */
background-repeat:no-repeat;
/* background-repeat:repeat-y; */
background-position:right top;
} 
/* body {background-color:#843322;} */
</style>

<title>Insert title here</title>
</head>
<body>
	<p class="p_s1">hello world</p>
</body>
</html>