<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
	<meta name="sogou_site_verification" content="gI1bINaJcL"/>
	<meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a" />
	<meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="网站模板templates,AUI素材网, AUI素材网站, UI设计, AUI素材网HTML源码-网站模板-APP模板-素材网psd_AUI素材网_模板_AUI素材网-app素材网，移动应用界面设计, app设计, 网站模板, js特效, jquery效果, 界面设计, 交互设计, 主题设计">
	<meta name="description" content="网站模板templates,AUI素材网是在线提供网站源码html下载、App设计、手机模板网站下载、微信小程序页面下载、app内嵌页面下载、以企业官网、个人网站、社区论坛、商城购物网站、专题模板等html源码下载。">
	<meta name="author" content="AUI, a-ui.com">
	<meta name="baidu-site-verification" content="ZVPGgtpUfW" />
	<title>新闻网</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
	
	<link rel="stylesheet" type="text/css"  href="/module/css/base.css" />
	<link rel="stylesheet" type="text/css"  href="/module/css/home.css" />
	<link rel="stylesheet" type="text/css"  href="/module/css/icon.css" />

</head>
<body>

	<section class="aui-flexView">

		<!-- 头部信息 begin -->
<!-- 		<header class="aui-navBar">
			<a href="javascript:;" class="aui-navBar-item">
				<i class="aui-icon aui-icon-back"></i>
			</a>
			<div class="aui-navBar-center">
				<span class="aui-navBar-title aui-navBar-logo"></span>
			</div>
			<a href="javascript:;" class="aui-navBar-item">
				<i class="aui-icon aui-icon-user"></i>
			</a>
		</header> -->
		<!-- 头部信息 end -->

		<section class="aui-scrollView">
			<div class="aui-content">
				

				<!-- 新闻列表置顶 begin -->
				<div class="aui-news-box">
					<article class="aui-news-list">
						<a href="pages.html" class="aui-news-item">
							<div class="aui-news-item-img">
								<img src="themes/img/ad/ad1.jpg" title="" alt="">
							</div>
<!-- 							<div class="aui-news-item-text">
								<h2 class="aui-news-item-text-title">外交部：美方动作频频 暴露“只能我有，不允许你有”霸权心态</h2>
								<p class="aui-news-item-text-text">华春莹表示，在中国苹果手机随处可见，我们不觉得是威胁，但美国如果有人买了华为手机</p>
								<div class="aui-news-item-text-info">
									<span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-time"></i> 25分钟前</span>
									<span class="aui-news-item-text-info-text">环球新闻网</span>
								</div>
							</div> -->
						</a>
						<a href="pages.html" class="aui-news-item">
							<div class="aui-news-item-img">
								<img src="themes/img/ad/ad2.jpg" title="" alt="">
							</div>
							<div class="aui-news-item-text">
								<h2 class="aui-news-item-text-title">阿森纳官宣温格今夏离任 22年枪手生涯正式终结</h2>
								<p class="aui-news-item-text-text">华春莹表示，在中国苹果手机随处可见，我们不觉得是威胁，但美国如果有人买了华为手机</p>
								<div class="aui-news-item-text-info">
									<span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-time"></i> 35分钟前</span>
									<span class="aui-news-item-text-info-text">华文报社</span>
								</div>
							</div>
						</a>
						<a href="pages.html" class="aui-news-item">
							<div class="aui-news-item-img">
								<img src="themes/img/ad/ad3.jpg" title="" alt="">
							</div>
							<div class="aui-news-item-text">
								<h2 class="aui-news-item-text-title">中兴通讯业务瞬间熄火 绝大部分产线进入停产状态</h2>
								<p class="aui-news-item-text-text">中兴通讯业务瞬间熄火 绝大部分产线进入停产状态</p>
								<div class="aui-news-item-text-info">
									<span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-time"></i> 55分钟前</span>
									<span class="aui-news-item-text-info-text">金融头条</span>
								</div>
							</div>
						</a>
						<a href="pages.html" class="aui-news-item">
							<div class="aui-news-item-img">
								<img src="themes/img/ad/ad4.jpg" title="" alt="">
							</div>
							<div class="aui-news-item-text">
								<h2 class="aui-news-item-text-title">“超能力”男孩一碰灯泡就亮 你也能做到</h2>
								<p class="aui-news-item-text-text">最近，有段视频流传很广：印度男孩Abu自称拥有“超能力”，他用身体任何部位轻轻一碰，电灯泡就会亮。这其实不是什么超能力，而是一个简单的物理现象。</p>
								<div class="aui-news-item-text-info">
									<span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-time"></i> 1小时前</span>
									<span class="aui-news-item-text-info-text">和讯网</span>
								</div>
							</div>
						</a>
					</article>
				</div>
				<div class="divR"></div>
				<!-- 新闻列表置顶 end -->

			</div>

		</section>

	</section>

	<script src="/module/js/jquery.min.js"></script>
	<script src="/module/js/main.js"></script>
	<script src="/module/js/flexible.js"></script> 
</body>
</html>